psycopg2-binary~=2.9.10
pandas~=2.2.3
keras~=2.13.0
aiohttp~=3.10.11
requests~=2.32.3
websocket~=0.2.1
websocket-client~=1.8.0
numpy~=2.2.5
scikit-learn~=1.6.1
scipy~=1.15.2
pytz~=2025.2
snscrape~=0.7.0.20230622
transformers~=4.51.3
joblib~=1.5.0
matplotlib~=3.10.1
statsmodels~=0.14.4
ta~=0.11.0
praw~=7.8.1
beautifulsoup4~=4.13.4
seaborn~=0.13.2
pmdarima~=2.0.4
nltk~= 3.9.1