psycopg2-binary~=2.9.10
pandas~=2.2.3
keras~=3.9.2
aiohttp~=3.10.11
requests~=2.32.3
websocket~=0.2.1
websocket-client~=1.8.0
numpy~=2.2.4
scikit-learn~=1.6.1
scipy~=1.15.2
pytz~=2025.2
snscrape~=0.7.0.20230622
transformers~=4.51.3